body {
  margin: 0;
  padding: 0;
  /* background-color:; */
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  background-color: #202938;
}
header > .logo {
  margin-left: 200px;
}
.logo > h4 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
.logo > h4:hover {
  color: grey;
}

.navlinks {
  margin: 0px;
  margin-right: 100px;
  padding: 0;
  display: flex;
  /* padding: 0 100px 0 100px; */
  width: 300px;
  list-style-type: none;
  justify-content: space-between;
}
.navlinks li {
  color: white;
  cursor: pointer;
}

.header2 {
  background-color: #202938;
  color: white;
  /* width:1250px; */
  display: flex;
  /* justify-content:space-evenly; */
  gap: 290px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-text {
  margin-left: 210px;
}

.hero-text > h1 {
  font-size: 48px;
}
.hero-text > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.hero-text > button {
  cursor: pointer;
  margin-top: 10px;
  border: 0;
  border-radius: 2px;
  padding: 10px 40px;
  background-color: cornflowerblue;
}

.hero-img {
  padding: 100px 150px;
  background-color: #6b7380;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tiles {
  width: 70vw;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.tiles > div > div {
  padding: 80px 80px;
  border: 5px solid cornflowerblue;
  border-radius: 10px;
}
.tiles > div > p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #8a8281;
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
}

.middle-two {
  background-color: #e6e7eb;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0;
}
.middle-two > p {
  font-weight: 100;
  font-size: 30px;
}

.last {
  padding: 0;
  background-color: #3b82f6;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: 70px auto;
  border-radius: 10px;
  text-align: center;
}

.last > h2,
p {
  padding: 0;
  margin: 0;
}
.last > p {
  text-align: center;
}

.last-text {
  margin-left: 80px;
  padding: 30px 60px;
}
.last > button {
  cursor: pointer;
  align-self: center;
  margin-right: 170px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background: #3b82f6;
  padding: 20px 80px;
  margin-right: 200px;
}

.last>button:hover{
    background-color:white;
    color:#3b82f6;
}

.credit{
    background-color:#202938;
    padding:15px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
     gap:10px;
}
img{
    width:30px;
   
}

@media (max-width: 800px) {
  body {
    width: auto;
  }

  header {
    padding: 5%;
    display: flex;
    gap: 50px;
    background-color: #202938;
  }
  header > .logo {
    margin-left: 0;
  }
  .logo > h4 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
  .logo > h4:hover {
    color: grey;
  }

  .navlinks {
    margin: 0px;
    margin-top: 10px;
    margin-left: 10%;
    padding: 0;
    display: flex;
    list-style-type: none;
  }
  .navlinks li {
    color: white;
    cursor: pointer;
  }

  .header2 {
    background-color: #202938;
    color: white;
    /* width:1250px; */
    display: flex;
    flex-direction: column;
    /* justify-content:space-evenly; */
    gap: 0;
    padding-top: 0;
    padding-bottom: 80px;
    /* position: relative; */
  }

  .hero-text {
    margin:0;
    margin: 0 auto;
  }

  .hero-text > h1 {
    font-size: 350%;
    margin-bottom: 0;
  }
  .hero-text > p {
    font-size: 100%;
    text-align: justify;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
  }
  .hero-text > button {
    /* position: absolute; */
    margin:0;
    padding:0;
    margin-left: 35%;
    border: 0;
    border-radius: 2px;
    padding: 10px 40px;
    background-color: cornflowerblue;
  }

  .hero-img{
    padding:0;
    width:50%;
    margin: 30px auto 0 auto;
    text-align: center;
    padding:130px 100px;
  }

  .hero-img p {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }

  .tiles {
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .tiles>div>div{
    padding:30% 40% ;
  }

  .middle-two {
    margin-top: 30px;
  }
  .middle-two > p {
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: 18px;
  }

  .last {
    flex-direction: column;
    width: 90%;
    padding-bottom: 40px;
  }
  .last-text {
    margin: 0;
  }

  .last button {
    margin: 0;
  }
}
